<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.ochoa.arnau.swissknife">

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.MANAGE_DOCUMENTS" />
    <uses-permission android:name="de.test.READ_DATABASE" />
    <uses-permission android:name="de.test.WRITE_DATABASE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />

    <application
        android:name=".MyApp"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".Login_Register.PagerHolderLogin">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Main_Drawer.DrawerActivity"
            android:label="@string/title_activity_drawer"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".Memory.EasyMemoryActivity" />
        <activity android:name=".Memory.MediumMemoryActivity" />
        <activity android:name=".Memory.HardMemoryActivity" />
        <activity android:name=".Ranking.RankingActivity" />
        <activity
            android:name=".Calculator.CalculatorActivity"
            android:theme="@style/AppTheme.NoActionBar" />

        <service
            android:name=".Music.MusicService"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="BOUNDSERVICE" />
            </intent-filter>
        </service>

        <meta-data
            android:name="io.fabric.ApiKey"
            android:value="f15f80628b62aeb50253594a9335b40eda9ad3b4" />

        <activity android:name=".Music.MusicActivity" />
        <activity android:name=".Profile.LocationActivity" />
    </application>

</manifest>